body {
    background-color: rgb(192, 192, 192);
    font-family: Helvetica;
    margin: 10px 20px;
}

#clickHere {
    background-color: rgba(255, 255, 255, 0.466);
    display: inline-block;
    padding:10px;
    font-family: Helvetica;
    border-radius: 3px;
    margin: 10px;
    border: 2px;
   
  }
  .inStock {
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.466);
    padding: 2px;
    margin: 10px;
    border-radius: 5px;
    font-family: Helvetica;
    box-shadow: 2px 3px rgb(90, 90, 90);
  }

  .darkMode {
      background-color: rgb(41, 41, 41);
      color: white;
  }